<div class="container py-5">
  <div class="card">
    <h4 class="card-header text-center">Scholarship Application Form</h4>
    <div class="card-body px-4">
      <form
        #scholarshipApplicationForm="ngForm"
        (ngSubmit)="onSubmit()"
        novalidate
      >
        <h5 class="underline mb-3 mt-2"><u>BASIC DETAILS: </u></h5>
        <div class="row mb-3">
          <div class="col-md-5">
            <label class="form-label">Father Name</label>
            <input
              type="text"
              required
              #fatherName="ngModel"
              [class.is-invalid]="fatherName.invalid && fatherName.touched"
              name="FatherName"
              class="form-control"
              [(ngModel)]="scholarshipModel.FatherName"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="fatherName.valid || fatherName.untouched"
              >Father Name is required</small
            >
          </div>

          <div class="col-md-5">
            <label class="form-label">Mother Name</label>
            <input
              type="text"
              required
              #motherName="ngModel"
              [class.is-invalid]="motherName.invalid && motherName.touched"
              name="MotherName"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.MotherName"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="motherName.valid || motherName.untouched"
              >Mother Name is required</small
            >
          </div>
          <div class="col-md-2">
            <label class="form-label" for="domicile">Religion</label>
            <select
              class="form-select"
              required
              #religion="ngModel"
              [class.is-invalid]="religion.invalid && religion.touched"
              name="Religion"
              [(ngModel)]="scholarshipModel.Religion"
            >
              <option value="">Select Religion</option>
              <option *ngFor="let religion of religions" [value]="religion">
                {{ religion }}
              </option>
            </select>
            <small
              class="invalid-feedback"
              [class.d-none]="religion.valid || religion.untouched"
              >Religion is required</small
            >
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Community</label>
            <input
              type="text"
              required
              #community="ngModel"
              [class.is-invalid]="community.invalid && community.touched"
              name="Community"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.Community"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="community.valid || community.untouched"
              >Community is required</small
            >
          </div>
          <div class="col-md-4">
            <label class="form-label">Aadhar Number</label>
            <input
              type="text"
              #aadharNumber="ngModel"
              [class.is-invalid]="aadharNumber.invalid && aadharNumber.touched"
              name="AadharNumber"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.AadharNumber"
              pattern="^\d{12}"
            />

            <small
              class="invalid-feedback"
              [class.d-none]="aadharNumber.valid || aadharNumber.untouched"
              >AadharNumber is required</small
            >
            <div *ngIf="aadharNumber.errors && (aadharNumber.invalid || aadharNumber.touched)">
              <small class="text-danger" *ngIf="aadharNumber.errors?.['pattern']">AadharNumber must be 12 digits</small>
            </div>
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label">Family Annual Income</label>
            <input
              type="text"
              required
              #annualIncome="ngModel"
              [class.is-invalid]="annualIncome.invalid && annualIncome.touched"
              name="AnnualIncome"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.AnnualIncome"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="annualIncome.valid || annualIncome.untouched"
              >Required Field</small
            >
          </div>
        </div>

        <h5 class="underline mb-3 mt-4"><u>ACADEMIC DETAILS: </u></h5>
        <div class="row mb-3">
          <div class="col-md-5">
            <label class="form-label">Institute Name</label>
            <select
              class="form-select"
              required
              #instituteName="ngModel"
              [class.is-invalid]="
                instituteName.invalid && instituteName.touched
              "
              name="InstituteName"
              [(ngModel)]="scholarshipModel.InstituteName"
            >
              <option value="">Select Institute</option>
              <option
                *ngFor="let institute of institutes"
                [value]="institute.instituteName"
              >
                {{ institute.instituteName }} - {{ institute.instituteCode }}
              </option>
            </select>
            <small
              class="invalid-feedback"
              [class.d-none]="instituteName.valid || instituteName.untouched"
              >Institute Name is required</small
            >
          </div>
          <div class="col-md-2">
            <label class="form-label">Institute Code</label>
            <input
              type="text"
              required
              #instituteCode="ngModel"
              [class.is-invalid]="
                instituteCode.invalid && instituteCode.touched
              "
              name="InstituteCode"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.InstituteCode"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="instituteCode.valid || instituteCode.untouched"
              >Institute Code is required</small
            >
          </div>
          <div class="col-md-3">
            <label class="form-label">Present Course</label>
            <input
              type="text"
              required
              #presentCourse="ngModel"
              [class.is-invalid]="
                presentCourse.invalid && presentCourse.touched
              "
              name="PresentCourse"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.PresentCourse"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="presentCourse.valid || presentCourse.untouched"
              >It is required</small
            >
          </div>
          <div class="col-md-2">
            <label class="form-label">Present Course Year</label>
            <input
              type="text"
              #presentCourseYear="ngModel"
              [class.is-invalid]="
                presentCourseYear.invalid && presentCourseYear.touched
              "
              name="PresentCourseYear"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.PresentCourseYear"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="
                presentCourseYear.valid || presentCourseYear.untouched
              "
              >Year is required</small
            >
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label" for="domicile">Mode of Study</label>
            <select
              class="form-select"
              required
              #modeOfStudy="ngModel"
              [class.is-invalid]="modeOfStudy.invalid && modeOfStudy.touched"
              name="ModeOfStudy"
              [(ngModel)]="scholarshipModel.ModeOfStudy"
            >
              <option selected>Select Religion</option>
              <option value="Online">Online</option>
              <option value="Offline">Offline</option>
            </select>
            <small
              class="invalid-feedback"
              [class.d-none]="modeOfStudy.valid || modeOfStudy.untouched"
              >It is required</small
            >
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label">University/Board Name</label>
            <input
              type="text"
              required
              #universityBoardName="ngModel"
              [class.is-invalid]="
                universityBoardName.invalid && universityBoardName.touched
              "
              name="UniversityBoardName"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.UniversityBoardName"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="
                universityBoardName.valid || universityBoardName.untouched
              "
              >University/Board Name is required</small
            >
          </div>
          <div class="col-md-4">
            <label class="form-label">Class Start Date</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="ClassStartDate"
                ngbDatepicker
                #classdate="ngModel"
                #d="ngbDatepicker"
                [(ngModel)]="scholarshipModel.ClassStartDate"
                [class.is-invalid]="classdate.invalid && classdate.touched"
                required
              />
              <button
                class="btn btn-outline-secondary"
                (click)="d.toggle()"
                type="button"
              >
                <i class="bi bi-calendar-fill"></i>
              </button>
              <small
                class="invalid-feedback"
                *ngIf="
                  classdate.errors && (classdate.invalid || classdate.touched)
                "
                >Class Start Date is required</small
              >
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label" for="domicile">Previous Course</label>
            <input
              type="text"
              required
              #previousCourse="ngModel"
              [class.is-invalid]="
                previousCourse.invalid && previousCourse.touched
              "
              name="PreviousCourse"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.PreviousCourse"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="previousCourse.valid || previousCourse.untouched"
              >It is required</small
            >
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label">Previous Passing Year</label>
            <input
              type="text"
              #previousPassingYear="ngModel"
              [class.is-invalid]="
                previousPassingYear.invalid && previousPassingYear.touched
              "
              name="PreviousPassingYear"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.PreviousPassingYear"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="
                previousPassingYear.valid || previousPassingYear.untouched
              "
              >Year is required</small
            >
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label"
              >Previous Class Percentage
            </label>
            <input
              type="text"
              required
              #previousClassPercentage="ngModel"
              [class.is-invalid]="
                previousClassPercentage.invalid &&
                previousClassPercentage.touched
              "
              name="PreviousClassPercentage"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.PreviousClassPercentage"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="
                previousClassPercentage.valid ||
                previousClassPercentage.untouched
              "
              >Percentage is required</small
            >
          </div>
        </div>

        <h5 class="underline mb-3 mt-4"><u>10TH CLASS: </u></h5>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="fname" class="form-label">Roll Number</label>
            <input
              type="text"
              #rollNo10="ngModel"
              [class.is-invalid]="rollNo10.invalid && rollNo10.touched"
              name="RollNo10"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.RollNo10"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="rollNo10.valid || rollNo10.untouched"
              >Roll Number is required</small
            >
          </div>
          <div class="col-md-6">
            <label for="mname" class="form-label">Board Name</label>
            <input
              type="text"
              required
              #boardName10="ngModel"
              [class.is-invalid]="boardName10.invalid && boardName10.touched"
              name="BoardName10"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.BoardName10"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="boardName10.valid || boardName10.untouched"
              >Board Name is required</small
            >
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="mname" class="form-label">Passing Year</label>
            <input
              type="text"
              #passingYear10="ngModel"
              [class.is-invalid]="
                passingYear10.invalid && passingYear10.touched
              "
              name="PassingYear10"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.PassingYear10"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="passingYear10.valid || passingYear10.untouched"
              >Year is required</small
            >
          </div>
          <div class="col-md-6">
            <label for="mname" class="form-label">Percentage Obtained</label>
            <input
              type="text"
              required
              #percentage10="ngModel"
              [class.is-invalid]="percentage10.invalid && percentage10.touched"
              name="Percentage10"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.Percentage10"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="percentage10.valid || percentage10.untouched"
              >Percentage is required</small
            >
          </div>
        </div>

        <h5 class="underline mb-3 mt-4"><u>12TH CLASS: </u></h5>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Roll Number</label>
            <input
              type="text"
              #rollNo12="ngModel"
              [class.is-invalid]="rollNo12.invalid && rollNo12.touched"
              name="RollNo12"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.RollNo12"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="rollNo12.valid || rollNo12.untouched"
              >Roll Number is required</small
            >
          </div>
          <div class="col-md-6">
            <label for="mname" class="form-label">Board name</label>
            <input
              type="text"
              required
              #boardName12="ngModel"
              [class.is-invalid]="boardName12.invalid && boardName12.touched"
              name="BoardName12"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.BoardName12"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="boardName12.valid || boardName12.untouched"
              >Board Name is required</small
            >
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="mname" class="form-label">Passing Year</label>
            <input
              type="text"
              #passingYear12="ngModel"
              [class.is-invalid]="
                passingYear12.invalid && passingYear12.touched
              "
              name="PassingYear12"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.PassingYear12"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="passingYear12.valid || passingYear12.untouched"
              >Year is required</small
            >
          </div>
          <div class="col-md-6">
            <label for="mname" class="form-label">Percentage obtained</label>
            <input
              type="text"
              required
              #percentage12="ngModel"
              [class.is-invalid]="percentage12.invalid && percentage12.touched"
              name="Percentage12"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.Percentage12"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="percentage12.valid || percentage12.untouched"
              >Percentage is required</small
            >
          </div>
        </div>

        <h5 class="underline mb-3 mt-4"><u>FEE DETAILS: </u></h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Addmission Fee</label>
            <input
              type="text"
              required
              #addmissionFee="ngModel"
              [class.is-invalid]="
                addmissionFee.invalid && addmissionFee.touched
              "
              name="AddmissionFee"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.AddmissionFee"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="addmissionFee.valid || addmissionFee.untouched"
              >Required Field</small
            >
          </div>
          <div class="col-md-4">
            <label class="form-label">Tution Fee</label>
            <input
              type="text"
              required
              #tutionFee="ngModel"
              [class.is-invalid]="tutionFee.invalid && tutionFee.touched"
              name="TutionFee"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.TutionFee"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="tutionFee.valid || tutionFee.untouched"
              >Required Field</small
            >
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label">Other Fee</label>
            <input
              type="text"
              required
              #otherFee="ngModel"
              [class.is-invalid]="otherFee.invalid && otherFee.touched"
              name="OtherFee"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.OtherFee"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="otherFee.valid || otherFee.untouched"
              >Required Field</small
            >
          </div>
        </div>

        <h5 class="underline mb-3 mt-4"><u>OTHER PERSONAL DETAILS: </u></h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="fname" class="form-label">Is Disabled</label>
            <select
              class="form-select"
              required
              #isDisabled="ngModel"
              [class.is-invalid]="isDisabled.invalid && isDisabled.touched"
              name="IsDisabled"
              [(ngModel)]="scholarshipModel.IsDisabled"
            >
              <option value="">Select Option</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <small
              class="invalid-feedback"
              [class.d-none]="isDisabled.valid || isDisabled.untouched"
              >Required Field</small
            >
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label">Type of Disability</label>
            <input
              type="text"
              required
              #typeOfDisability="ngModel"
              [class.is-invalid]="
                typeOfDisability.invalid && typeOfDisability.touched
              "
              name="TypeOfDisability"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.TypeOfDisability"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="
                typeOfDisability.valid || typeOfDisability.untouched
              "
              >Required Field</small
            >
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label">Disability Percentage </label>
            <input
              type="text"
              required
              #percentageDisability="ngModel"
              [class.is-invalid]="
                percentageDisability.invalid && percentageDisability.touched
              "
              name="PercentageDisability"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.PercentageDisability"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="
                percentageDisability.valid || percentageDisability.untouched
              "
              >Required Field</small
            >
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-5">
            <label for="fname" class="form-label">Martial Status</label>
            <select
              class="form-select"
              required
              #martialStatus="ngModel"
              [class.is-invalid]="
                martialStatus.invalid && martialStatus.touched
              "
              name="MartialStatus"
              [(ngModel)]="scholarshipModel.MartialStatus"
            >
              <option value="">Select Martial Status</option>
              <option value="Married">Married</option>
              <option value="Single">Single</option>
            </select>
            <small
              class="invalid-feedback"
              [class.d-none]="martialStatus.valid || martialStatus.untouched"
              >Status is required</small
            >
          </div>
          <div class="col-md-7">
            <label for="mname" class="form-label">Parents Profession</label>
            <input
              type="text"
              required
              #parentProfession="ngModel"
              [class.is-invalid]="
                parentProfession.invalid && parentProfession.touched
              "
              name="ParentProfession"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.ParentProfession"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="
                parentProfession.valid || parentProfession.untouched
              "
              >Profession name is required</small
            >
          </div>
        </div>

        <h5 class="underline mb-3 mt-4">
          <u>CONTACT DETAILS: </u>
        </h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">State</label>
            <select
              class="form-select"
              required
              #state="ngModel"
              [class.is-invalid]="state.invalid && state.touched"
              (change)="changeDistrict($event)"
              name="State"
              [(ngModel)]="scholarshipModel.State"
            >
              <option value="">Select State</option>
              <option *ngFor="let state of states" [value]="state.state">
                {{ state.state }}
              </option>
            </select>
            <small
              class="invalid-feedback"
              [class.d-none]="state.valid || state.untouched"
              >Select a state</small
            >
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label">District</label>
            <select
              class="form-select"
              required
              #district="ngModel"
              [class.is-invalid]="district.invalid && district.touched"
              name="District"
              [(ngModel)]="scholarshipModel.District"
            >
              <option value="">Select District</option>
              <option *ngFor="let district of districts" [value]="district">
                {{ district }}
              </option>
            </select>
            <small
              class="invalid-feedback"
              [class.d-none]="district.valid || district.untouched"
              >Please select a district</small
            >
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label">Block/Taluk</label>
            <input
              type="text"
              required
              #block="ngModel"
              [class.is-invalid]="block.invalid && block.touched"
              name="Block"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.Block"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="block.valid || block.untouched"
              >Block/Taluk is required</small
            >
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">House Number</label>
            <input
              type="text"
              required
              #houseNumber="ngModel"
              [class.is-invalid]="houseNumber.invalid && houseNumber.touched"
              name="HouseNumber"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.HouseNumber"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="houseNumber.valid || houseNumber.untouched"
              >House number is required</small
            >
          </div>
          <div class="col-md-4">
            <label class="form-label">Street Number</label>
            <input
              type="text"
              required
              #streetNumber="ngModel"
              [class.is-invalid]="streetNumber.invalid && streetNumber.touched"
              name="StreetNumber"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.StreetNumber"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="streetNumber.valid || streetNumber.untouched"
              >Street number is required</small
            >
          </div>
          <div class="col-md-4">
            <label for="mname" class="form-label">Pincode</label>
            <input
              type="text"
              required
              #pincode="ngModel"
              [class.is-invalid]="pincode.invalid && pincode.touched"
              name="Pincode"
              class="form-control"
              required
              [(ngModel)]="scholarshipModel.Pincode"
            />
            <small
              class="invalid-feedback"
              [class.d-none]="pincode.valid || pincode.untouched"
              >Pincode is required</small
            >
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Choose Scheme Applying For</label>
            <select
              class="form-select"
              #schemeId="ngModel"
              [class.is-invalid]="schemeId.invalid && schemeId.touched"
              name="SchemeId"
              [(ngModel)]="scholarshipModel.SchemeId"
              required
            >
              <option value="">Choose Scheme</option>
              <option *ngFor="let scheme of schemes" [value]="scheme.schemeId">
                {{ scheme.schemeId }}. {{ scheme.name }}
              </option>
            </select>
            <small
              class="invalid-feedback"
              [class.d-none]="schemeId.valid || schemeId.untouched"
              >Scheme name is required</small
            >
          </div>
        </div>

        <h5 class="underline mb-3 mt-4"><u>DOCUMENTS UPLOAD SECTION: </u></h5>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="formFile" class="form-label"
              >Domicile Certificate</label
            >
            <input class="form-control" type="file" id="formFile" required />
          </div>
          <div class="col-md-6">
            <label for="formFile" class="form-label">Student Photograph</label>
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="formFile" class="form-label">Institute ID Card</label>
            <input class="form-control" type="file" id="formFile" required />
          </div>
          <div class="col-md-6">
            <label for="formFile" class="form-label"
              >Caste/Income Certificate</label
            >
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="formFile" class="form-label"
              >Previous Year Marksheet</label
            >
            <input class="form-control" type="file" id="formFile" />
          </div>
          <div class="col-md-6">
            <label for="formFile" class="form-label"
              >Fee Receipt of Current Year</label
            >
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="formFile" class="form-label"
              >Bank Passbook (Front Page)</label
            >
            <input class="form-control" type="file" id="formFile" required />
          </div>
          <div class="col-md-6">
            <label for="formFile" class="form-label">Aadhar Card</label>
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="formFile" class="form-label"
              >10th Class Marksheet</label
            >
            <input class="form-control" type="file" id="formFile" />
          </div>
          <div class="col-md-6">
            <label for="formFile" class="form-label"
              >12th Class Marksheet</label
            >
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input"  required #tickisrequired="ngModel" [class.is-invalid]="tickisrequired.invalid && tickisrequired.touched" name="tickisrequired" [(ngModel)]="scholarshipModel.tickisrequired" type="checkbox">
          <label class="form-check-label">
            ALL THE DETAILS FURNISHED BY ME ARE TRUE TO BEST OF MY KNOWLEDGE. IF
            ANY MISTAKES ARE FOUND THEN I MAY BE DISQUALIFIED FOR SCHOLARSHIP
            SCHEME ANNOUNCED BY GOVERNMENT OF INDIA OR MY STATE GOVERNMENT
          </label>
          <small class="text-danger" [class.d-none]="tickisrequired.valid || tickisrequired.untouched">Checkbox Tick is required</small>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button
            [disabled]="scholarshipApplicationForm.form.invalid"
            type="submit"
            class="btn btn-dark px-4"
          >
            Apply
          </button>
          <button type="submit" class="btn btn-outline-secondary px-4">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
